{% extends 'base.html'  %}
{% block title %}show {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

       

        {% if user.image_url %}
        <div class="col-sm-3 col-4">
          <img src="{{ user.image_url }}" style="width: 150px; height:200px">
        </div>
        {% endif %}

        <div class="col-sm-2 col-4">
            <h1>{{ user.full_name}} </h1>

            <form>
                <button class="btn btn-primary btn-sm" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>

                <button class="btn btn-danger btn-sm" formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>

                
              </form>



              <h2 class="mt-4">Posts</h2>

            <ul>
              
              {% for post in user.posts %}

              <li>
                <a href="/posts/{{ post.id}}">{{ post.title }}</a>
                
              </li>
              {% endfor %}
            </ul>

            <p><a href="/users/{{ user.id }}/posts/new" class="btn btn-info">Add Post</a></p>
                  
            </div>
           
        </div>
        <a href="/users">Go Back..</a>
    </div> 
        

{% endblock %}